<% if (typeof flags !== "undefined") { %>
  <% for (flag of flags){ %>
    <div class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight:bold">Warning! </strong><%= flag %>
    </div>
  <% } %>
<% } %>


<% if (successMsg != "" ){ %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight:bold">Well done! </strong><%= successMsg %>
  </div>
<% } %>


<% if (errorMsg != "" ){ %>
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight:bold">Warning! </strong><%= errorMsg %>
  </div>
<% } %>


<% if (error != "" ){ %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong style="font-weight:bold">Uh-Oh! </strong><%= error %>
  </div>
<% } %>
