<%- include("./partials/nav") %>
<div class="row mt-5 text-center">
  <div class="col-xs-12 m-auto">
    <h3>Add Teams</h3>
    <p class="text-muted">Select teams to add to your dashboard</p>
    <form class="iform form-inline" role="form" action="#">
      <div class="from-group">
        <input list="teamSelect" class="form-control" type="text" name="searchTeam" placeholder="Enter Team Name">
        <datalist id="teamSelect">
        <option value="Raptors">Toronto, Raptors</option>
        <option value="Celtics">Boston, Celtics</option>
        <option value="Heat">Miami, Heat</option>  
        </datalist>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Add</button>
    </form>
  </div>
</div>
