<%- include("./partials/nav") %>
<div class="row mt-5 text-center">
  <div class="col-xs-12 m-auto">
    <h3><%= name%>'s Scores</h3>
    <p class="text-muted">View live scores from your favorite teams</p>
  </div>
</div>
<div class="accordion col-sm-12 m-auto" id="accordion-select">
  <div class="card">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        NBA Scores
      </button>
    </h2>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-select">
      <div id="nbaBuild" class="flex-card-container">
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        NFL Scores
      </button>
    </h2>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-select">
      <div id="nflBuild" class="flex-card-container">
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        MLB Scores
      </button>
    </h2>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-select">
      <div id="mlbBuild" class="flex-card-container">
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        NHL Scores
      </button>
    </h2>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion-select">
      <div id="nhlBuild" class="flex-card-container">
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/home.js"></script>
