<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div id="landingCard" class="card card-body text-center">
      <h1>Score Board</h1>
      <!-- <div class="row mb-3">
        <div class="col-md-12">
          <i class="fas fa-football-ball fa-3x pr-1"></i>
          <i class="fas fa-basketball-ball fa-3x pl-1"></i>
        </div>
        <div class="col-md-12 pt-2">
          <i class="fas fa-baseball-ball fa-3x pr-1"></i>
          <i class="fas fa-hockey-puck fa-3x pl-1"></i>
        </div>
      </div> -->
      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
      <a href="/users/register" class="btn btn-secondary btn-block">Register</a>
    </div>
  </div>
</div>
