/* color fa icons on landing page */
i[class^="fas"]{
  color: #162129;
}

.selectable{
  cursor: pointer;
}

[id^="img"]{
  -webkit-transform: scale(1.5);
  border: none;
  opacity: 1;
}

[id^="subscribed"]{
  transform: scale(1.1);
  border: 0px transparent solid !important;
}

[id^="dropTeam"]:focus{
  outline: none;
}

.flex-card-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.match-card{
  width: 350px;
  height: 150px;
  border:1px red solid;
  display: inline-block;
  margin-bottom: 1em;
  text-align: center;
  border: 1px #c9c9c9 solid;
}

.team-line{
  padding: 4px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-line-time{
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

img{
  max-width: 6em;
}

.btn-link:focus{
  text-decoration: none !important;
}

.btn-link:hover{
  text-decoration: underline !important;
}
