/* color fa icons on landing page */
i[class^="fas"]{
  color: #162129;
}

/*media query for inline add team form*/

@media (min-width:350px) and (max-width:767px) {
    .iform .form-control {
        display: inline-block;
        width: auto;
        margin: 0;
    }
    .iform .form-group {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        vertical-align: middle;
    }
}
